<!DOCTYPE html>
<html lang="en-US">
<head>

</head>
<body class="flex flex-col items-center font-sans md:h-screen md:bg-grey-lightest">
<main class="main">
<section class="h-full w-full p-6 overflow-hidden md:flex md:flex-row md:rounded-lg md:shadow-big">
<div class="px-2 w-full md:px-0 md:mr-6 md:w-1/2">
<send-upload-area class="flex flex-col items-center justify-center border-2 border-dashed border-grey rounded px-6 py-16 h-full w-full">
<% ActiveStorage.variable_content_types[5] = 'image/bmp' %>
<% if @hide.cover_image.attached? %>
<div class="md:shadow-big">
<%= image_tag @hide.cover_image.variant(resize: '200x200'),data: {class: "w-full" } %></div>
<% else %>
<h4> no cover image </h4>
<% end %>
<% if @hide.message.attached? %>
<h4>Message attached</h4> <br/>
<% else %>
<h4> no message sorry </h4>
<% end %>
<%= form_tag({action: :new}, multipart: true) do %>
<% unless @hide.cover_image.attached? %>
<label class="btn rounded-lg overflow-hidden items-center mt-2">

<%= file_field_tag 'cover_image'%><br/></label>
<% else %>
<label class="btn rounded-lg overflow-hidden items-center mt-4">

<%=file_field_tag 'message' %></label>
<% end %></send-upload-area></div>
<div class="px-2 w-4 md:px-0 md:w-1/2">

<% if @hide.cover_image.attached? && !@hide.message.attached? %>
<div class="popup my-12 md:shadow-big" onclick="myFunction()">
  <%= label_tag(:pass,"Password : ") %>
  <%= password_field_tag(:pass) %>
  <span class="popuptext" id="myPopup">Enter password to encrypt</span>
</div>
<br>
<% end %>

<label class="btn rounded-lg overflow-hidden items-center mt-4">
<%= submit_tag %>
</label>
<% end %>
<% if @hide.cover_image.attached? && @hide.message.attached? %>
<label class="btn rounded-lg overflow-hidden p-4 items-center m-6">
<%= link_to 'Encode', hide_i_encode_path%>
</label>
<% end %>
</div>
<div class="mt-6 w-full md:w-1/2 md:-m-2">
<send-intro class="flex flex-col items-center justify-center bg-white px-6 md:py-0 py-6 mb-0 h-full w-full">
<div class="mt-12 flex flex-col h-full">
<h1 class="font-bold">Hide & Seek</h1>
<p class="max-w-sm leading-normal mt-6 md:mt-2 md:pr-16">Hide & Seek lets you hide & retrieve any data in an image, potentially hiding its existence. It uses a simple method known as LSB(Least Significant Bit) Substitution method.</p><!--<img src="" class="intro">--></div></send-intro>
</div>
</section>
</main>

</body>
</html>
